[submodule "gpuroofperf-toolkit"]
	path = gpuroofperf-toolkit
	url = git@github.com:ekondis/gpuroofperf-toolkit.git
[submodule "sparse-ads-baselines"]
	path = sparse-ads-baselines
	url = git@github.com:moderato/sparse-ads-baselines.git
[submodule "dlrm"]
	path = dlrm
	url = git@github.com:moderato/dlrm.git
[submodule "mlperf-logging"]
	path = mlperf-logging
	url = https://github.com/mlcommons/logging.git
[submodule "param"]
	path = param
	url = https://github.com/moderato/param.git
[submodule "convnet-benchmark-py"]
	path = convnet-benchmark-py
	url = https://github.com/moderato/convnet-benchmark-py.git
[submodule "transformer-pt"]
	path = transformer-pt
	url = https://github.com/moderato/attention-is-all-you-need-pytorch.git
