*.txt
*.csv
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
__pycache__/*
*/__pycache__/*
data/*
.vscode/*
analysis/ml_predictors/*
*/*.pdf
*/*.png
analysis/*.json
analysis/collective_params/*
run_kaggle_pt/*
benchmark/run_kaggle_pt/*
