[submodule "gpuroofperf-toolkit"]
	path = 3rdparty/gpuroofperf-toolkit
	url = git@github.com:ekondis/gpuroofperf-toolkit.git
[submodule "sparse-ads-baselines"]
	path = 3rdparty/sparse-ads-baselines
	url = git@github.com:moderato/sparse-ads-baselines.git
[submodule "dlrm"]
	path = 3rdparty/dlrm
	url = git@github.com:moderato/dlrm.git
[submodule "mlperf-logging"]
	path = 3rdparty/mlperf-logging
	url = git@github.com:mlcommons/logging.git
[submodule "param"]
	path = 3rdparty/param
	url = git@github.com:moderato/param.git
[submodule "convnet-benchmark-py"]
	path = 3rdparty/convnet-benchmark-py
	url = git@github.com:moderato/convnet-benchmark-py.git
[submodule "transformer-pt"]
	path = 3rdparty/transformer-pt
	url = git@github.com:moderato/attention-is-all-you-need-pytorch.git
[submodule "3rdparty/ncf"]
	path = 3rdparty/ncf
	url = git@github.com:moderato/neural-collaborative-filtering.git
[submodule "3rdparty/deepfm"]
	path = 3rdparty/deepfm
	url = git@github.com:moderato/Pytorch_DeepFM.git
