[submodule "gpuroofperf-toolkit"]
	path = gpuroofperf-toolkit
	url = git@github.com:ekondis/gpuroofperf-toolkit.git
[submodule "sparse-ads-baselines"]
	path = sparse-ads-baselines
	url = git@github.com:moderato/sparse-ads-baselines.git
[submodule "dlrm"]
	path = dlrm
	url = git@github.com:moderato/dlrm.git
[submodule "mlperf-logging"]
	path = mlperf-logging
	url = https://github.com/mlcommons/logging.git
